# **Spark Apache (Семинары)**
## **Урок 2. Инструменты работы и визуализации ч.1**
### Задание:
1. Условие: Дана таблица с колонками (id, name, salary, managerId), студентам необходимо написать код на spark, который создаст эту таблицу (данные указаны ниже) и в результате выдаст таблицу в которой будут имена сотрудников, которые зарабатывают больше своих менеджеров

Данные для таблицы:

In [55]:
# Данные для задания
data = {'id':[1, 2, 3, 4], 'Name': ['Joe', 'Henry', 'Sam', 'Max'],
        'Salary': ['70', '80', '60', '90'], 'ManagerId': ['3', '4', 'Null', 'Null']}

In [56]:
! pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [57]:
# Установка требуемых модулей
from pyspark.sql import SparkSession
from pyspark.sql.functions import col
import pandas as pd

In [58]:
# Установка сессии spark
spark = SparkSession.builder.appName('AggregateTable').getOrCreate()

# Создаем таблицу
df_spark = spark.createDataFrame(pd.DataFrame(data))

# Конвертируем данные (string -> int)
df_spark = df_spark.withColumn('Salary',df_spark['Salary'].cast('int'))
df_spark = df_spark.withColumn('ManagerId',df_spark['ManagerId'].cast('int'))

# Смотрим результат
df_spark.show()

+---+-----+------+---------+
| id| Name|Salary|ManagerId|
+---+-----+------+---------+
|  1|  Joe|    70|        3|
|  2|Henry|    80|        4|
|  3|  Sam|    60|     NULL|
|  4|  Max|    90|     NULL|
+---+-----+------+---------+

In [59]:
# Обработка данных по заданию
df_result = df_spark.alias('a').join(df_spark.alias('b')['id', 'Salary'].withColumnRenamed("Salary", "Salary_b"), \
                                     col('a.ManagerId') == col('b.id'), \
                                     'inner') \
                               .filter('Salary > Salary_b') \
                               .select(['a.Name'])
df_result.show()

+----+
|Name|
+----+
| Joe|
+----+

In [60]:
spark.stop()